div {
    margin: 20px;
    
  }
  
  input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a10b0b;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  